 .u-section-1 {
  background-image: url("images/vbbb.jpg");
  background-position: 50% 50%;
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  margin: 49px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 723px;
  background-image: url("images/WhatsAppImage2024-12-06at12.34.41AM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 604px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 380px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 525px;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/WhatsAppImage2025-03-04at13.02.12_4f17cc62.jpg");
  background-position: 50% 50%;
  margin: 77px 41px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 440px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 58px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 21px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-image-1 {
    width: 374px;
    height: 374px;
    margin-bottom: -48px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 294px;
    height: 294px;
    margin: 53px auto 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1497px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 56px 796px 0 0;
}

.u-section-3 .u-line-1 {
  width: 218px;
  height: 3px;
  transform-origin: left center;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px 334px 0 0;
}

.u-section-3 .u-image-1 {
  width: 1016px;
  height: 528px;
  margin: 55px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 948px;
  margin: -101px auto 60px 41px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-3 .u-container-layout-1 {
  padding: 116px 0 30px;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 0 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 18px 30px 30px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 231px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 240px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 223px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 596px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 134px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 489px;
    margin-top: -495px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 105px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 237px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 376px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 375px;
    margin-top: -445px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 84px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 195px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 204px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 281px;
    margin-top: -295px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 28px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1457px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    height: 177px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 56px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-4 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 1062px;
  margin: 130px auto 0 170px;
}

.u-section-4 .u-gallery-1 {
  width: 1092px;
  height: 761px;
  grid-gap: 10px;
  margin: -1079px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 497px;
  min-height: 441px;
  background-image: none;
  margin: -75px 0 52px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-4 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-top: 77px;
    margin-left: 115px;
  }

  .u-section-4 .u-gallery-1 {
    width: 905px;
    margin-top: -876px;
    height: 656px;
  }

  .u-section-4 .u-group-1 {
    width: 435px;
    min-height: 434px;
    margin-top: -54px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-4 .u-shape-1 {
    height: 1299px;
    margin-left: 103px;
  }

  .u-section-4 .u-gallery-1 {
    width: 685px;
    margin-top: -1210px;
    height: 1267px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -41px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3971px;
  }

  .u-section-4 .u-shape-1 {
    height: 3662px;
    margin-top: 76px;
    margin-right: 186px;
    margin-left: 54px;
  }

  .u-section-4 .u-gallery-1 {
    width: 505px;
    margin-top: -3570px;
    height: 3440px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -66px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2763px;
  }

  .u-section-4 .u-shape-1 {
    width: 260px;
    height: 1143px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 2196px;
    margin-top: -996px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 460px;
    margin-top: -2696px;
    margin-bottom: 1917px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 67px auto 67px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 3rem;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-form-1 {
  height: 308px;
  margin: 0 -40px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 100px;
  min-width: 68px;
  margin: 60px 467px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(220, 78, 65) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 637px;
  }
}